body {
    margin: 0;
    padding: 0;
    font: normal 14px/22px 'Roboto';
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.popup-main {
    padding: 5px;
    margin: 5px;
}
.mapboxgl-map {
    font: normal 13px/20px 'Roboto' !important;
}
.map-overlay {
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;
    padding: 10px;
    max-width: 500px !important;
}
.map-overlay .map-overlay-inner {
    font-family: "Roboto";
    font-size: 24px;
    color: #383838;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 15px 15px 15px 15px; /* Rounded corners */
    border: solid 1px #f9de00; /* Yellow border */
    border-width: medium;
}
.map-overlay label {
    display: inherit;
    margin: 0 0 10px;
    width: fit-content;
}
.map-overlay #slider {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}
.square-container {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.square-container-row {
    display: flex;
    flex: 1;
    height: 35px;
    width: 10%;
    flex-direction: column;
}
.square-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px
}
.square {
    display: flex;
    height: 25px;
    min-width: 25px;
}
#legend {
    display: flex;
}
.column {
    flex-direction: column;
}
h3,
h4 {
    margin: 0;
}
h4 {
    padding-bottom: 10px;
}
.legend-container {
    margin: 5px 0 5px 0;
}

.checkbox-container {
    display: flex;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.checkbox-container label {
    margin: 0;
}
#fullscreen {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.mapboxgl-popup-content {
    width: 250px !important;
    font-family: Arial, sans-serif; /* Ensures the font is consistent */
    max-height: 300px; /* Maximum height of the popup */
    overflow-y: scroll; /* Enables vertical scrolling if needed */
    padding: 10px; /* Padding inside the popup */
    background: white; /* Background color */
    border-radius: 1px 15px 15px 15px; /* Rounded corners */
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); Shadow for depth */
    border: solid 1px #f9de00; /* Yellow border */
    border-width: medium;
}

/* .popup-container { */
    /* font-family: Arial, sans-serif; Ensures the font is consistent */
    /* background-color: white; White background for the popup */
    /* border-radius: 10px; Rounded corners */
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); Subtle shadow for depth */
    /* padding: 15px; Spacing inside the popup */
    /* width: 250px; Fixed width */
    /* border: solid 1px #ccc; Light grey border */
/* } */

.popup-header {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px; /* Larger font size for headers */
    margin-bottom: 5px; /* Space below the header */
    color: #1b64fe; /* Blue color for text */
}

.popup-subheader {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px; /* Font size for subheader */
    margin-top: 5px; /* Space above the subheader */
}

.popup-project-list {
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes padding */
    margin-top: 10px; /* Space above the list */
}

.popup-project-list::-webkit-scrollbar-thumb {
    background-color: #f9de00;
}

.popup-project-list li {
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes padding */
    margin-top: 10px; /* Space above the list */
}

.proj-name {
    font-family: "Roboto";
    padding: 5px 0; /* Padding for each list item */
    font-size: 14px; /* Font size for list items */
    margin-bottom: 10px; /* Space below */
    color: #1b64fe; /* Blue color for text */
}

.proj-loc {
    font-family: "EB Garamond";
    font-weight: 400;
    padding: 5px 0; /* Padding for each list item */
    font-size: 14px; /* Font size for list items */
    color: #383838; /* Black color for text */
    font-style: italic;
}

.icon {
    height: 14px;
  }
  